
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d4263;
  color: #fff;
  padding: 10px;
  font-size: 24px;
}
header img {
  
  margin-right: 10px;
  width: 100px; 
  height: 150px;
}
section {
  margin: 20px;
}
.principal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  justify-content: center;
  align-items: center;
  background-color: #fff;

  padding: 20px;
  border-radius: 10px;
  width: 520px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calculadora{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 max-width: 100%;
 padding: 1.5rem;
 border-radius: 1rem;
}
.pantalla{
  background-color: #fff;
  grid-column: 1/-1;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: right;
  border-radius: .5rem;
  margin-bottom: 1rem;
  font-family: monospace;
  font-weight: 600;
}
.button-action{
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: .5rem;
 padding: 1rem;
 margin: 1px;
}
#ac,
#dell,
#add,
#sub {
  grid-row: span 2;
}

#igual {
  grid-column: span 2;
}
.button-action:hover{
  background-color: #2d4263;;
  color: #f2f2f2;
}
.button-option{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

